
body{
    background-color: rgb(145, 228, 217);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
       
}

h1{
    text-align: center;
    color: rgb(218, 14, 133);
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;


}
.cards_container{
    display: flex;
    justify-content: space-evenly;  
    gap: 16px;
        
}
.card{
    background-color: rgb(202, 178, 178);
    color: white;
    padding: 16px;
    box-sizing: border-box;
    width: 280px;
    margin-bottom: 16px;    
}

img{
    width: 250px;
    display: block;
            
}
p{
    color: rgb(238, 12, 189);
    text-transform: uppercase;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

@media (max-width:800px){
    .cards_container{
        flex-direction: column;
        align-items: center;
    }
}